@model Jemeppe.Web.Models.BookingViewModel

@{
    ViewData["Title"] = "De Avonden Kamer";
}
@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}

<section class="booking">
    <div class="container">
        <div class="row">
            <form method="post" class="form">
                <div class="col">
                    <div class="input-group">
                        <label for="check-in" class="input-label">Check in</label>
                        <input type="date" asp-for="StartDatum" class="input" id="check-in" />
                        <span asp-validation-for="StartDatum" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="input-group">
                        <label for="check-out" class="input-label">Check Out</label>
                        <input type="date" asp-for="EindDatum" class="input" id="check-out" />
                        <span asp-validation-for="EindDatum" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <input type="submit" value="Reserveer" class="btn btn-success" />
                    </div>
                </div>
                @if (User.IsInRole("Admin"))
                {
                    <div class="col">
                        <li class="nav-item">
                            <a asp-controller="Room"
                               asp-action="Edit"
                               asp-route-id="2">Edit Room</a>
                        </li>
                    </div>
                }
                </form>
        </div>
    </div>
</section>

<div class="small-container single-product">
    <div class="row test">
        <div class="col-6">
            <img src="~/assets/images/TweePersoonsKamer2.jpg" class="DeRodeKamerImage" />
        </div>
        <div class="col-6">
            <h1>@Model.Name</h1>
            <h4>@Model.Price/Night</h4>
            <br />
            <h3>Product Details</h3>
            <p>@Model.Description</p>
            <p>
                This is a @Model.SelectedRoomType.ToString() room<br />

                @if (Model.SelectedHasToilet == MayBeCheck.Yes)
                {
                    @:It has a toilet.
                }
                else if (Model.SelectedHasToilet == MayBeCheck.No)
                {
                    @:It does not have a toilet.
                }
                <i class="fa fa-check-square-o"></i><br />
                @if (Model.SelectedHasShower == MayBeCheck.Yes)
                {
                    @:It has a shower.
                }
                else if (Model.SelectedHasShower == MayBeCheck.No)
                {
                    @:It does not have a shower
                }
                <i class="fa fa-check-square-o"></i><br />
                @if (Model.SelectedHasSink == MayBeCheck.Yes)
                {
                    @:It has a sink.
                }
                else if (Model.SelectedHasSink == MayBeCheck.No)
                {
                    @:It does not have a sink.
                }
                <i class="fa fa-check-square-o"></i>
            </p>
            
        </div>
    </div>
</div>