@model Jemeppe.Web.Models.BookingViewModel

@{
    ViewData["Title"] = "De Driestuivers Kamer";
}
@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}

<section class="booking">
    <div class="container">
        <div class="row">
            <form method="post" class="form">
                <div class="col-6">
                    <div class="input-group">
                        <label for="check-in" class="input-label">Check in</label>
                        <input type="date" asp-for="StartDatum" class="input" id="check-in" />
                        <span asp-validation-for="StartDatum" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-group">
                        <label for="check-in" class="input-label">Check in</label>
                        <input type="date" asp-for="EindDatum" class="input" id="check-in" />
                        <span asp-validation-for="EindDatum" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <input type="submit" value="Reserveer" class="btn btn-success" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<div class="small-container single-product">
    <div class="row test">
        <div class="col-6">
            <img src="~/assets/images/EenPersoonsKamer3.jpg" class="DeRodeKamerImage" />
        </div>
        <div class="col-6">
            @*<p>Home / De Rode Kamer</p>*@
            <h1>De Driestuivers Kamer</h1>
            <h4>$75/Night</h4>
            <a class="btn btn-dark" asp-area="" asp-controller="MultipleRooms" asp-action="DeDriestuiversKamer">
                Book now
                <span class="dots"><i class="fas fa-ellipsis-h"></i></span>
            </a>
            <br />
            <h3>Product Details</h3>
            <p>Dit is de eenvoudigste kamer van het kasteel en is dus niet voor niets genoemd naar de Dreigröschenoper van Bertold Brecht.</p>
            <p>The room is made to accommodate 1 person.<br /> It has a toilet.    <i class="fa fa-square-o"></i><br /> It has a douche.  <i class="fa fa-square-o"></i><br /> It has a sink.     <i class="fa fa-square-o"></i></p>
        </div>
    </div>
</div>
@*email, start eind datum, naam kamer*@