@model Jemeppe.Web.Models.BookingViewModel

@{
    ViewData["Title"] = "De Geheime Kamer";
}
@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}

<section class="booking">
    <div class="container">
        <div class="row">
            <form method="post" class="form">
                <div class="col">
                    <div class="input-group">
                        <label for="check-in" class="input-label">Check in</label>
                        <input type="date" asp-for="StartDatum" class="input" id="check-in" />
                        <span asp-validation-for="StartDatum" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="input-group">
                        <label for="check-out" class="input-label">Check Out</label>
                        <input type="date" asp-for="EindDatum" class="input" id="check-out" />
                        <span asp-validation-for="EindDatum" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <input type="submit" value="Reserveer" class="btn btn-success" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<div class="small-container single-product">
    <div class="row test">
        <div class="col-6">
            <img src="~/assets/images/TweePersoonsKamer3.jpg" class="DeRodeKamerImage" />
        </div>
        <div class="col-6">
            @*<p>Home / De Rode Kamer</p>*@
            <h1>De Geheime Kamer</h1>
            <h4>$100/Night</h4>
            <br />
            <h3>Product Details</h3>
            <p>Van deze kamer, genoemd naar "the Chamber of Secrets" van Joanne Rowling, is alleen de prijs bekend.</p>
            <p>The room is made to accommodate an unknown amount of people.<br /> It maybe has a toilet.    <i class="fa fa-square-o"></i><br /> It maybe has a douche.  <i class="fa fa-square-o"></i><br /> It maybe has a sink.     <i class="fa fa-square-o"></i></p>
        </div>
    </div>
</div>
@*email, start eind datum, naam kamer*@