@{
    ViewData["Title"] = "Contact";
}

<body>
    <div class="sizecontainer">
        <div id="wrapper">
            <section id="adres">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1218.5451375523044!2d5.233287258315899!3d52.350647933313!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c6168b22073331%3A0xa8ac5cbb3b5d7db7!2sOude%20Waterlandseweg%2010%2C%20Almere!5e0!3m2!1snl!2snl!4v1624549210523!5m2!1snl!2snl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" id="mapsimage"></iframe>
                <addres id="article1">
                    <h6 id="Bold">Address Info</h6><br>
                    Reguliersgracht 95<br>
                    1335 AM Almere<br>
                    036-5432876<br>
                    <a href="mailto:Info@Jemeppe.com">Info@Jemeppe.com</a>
                </addres>
            </section>
        </div>
    </div>
</body>