@{
    ViewData["Title"] = "Rooms";
}
<section class="rooms">
    <div class="roomscontainer">
        <h5 class="section-head">
            <span class="heading">Explore</span>
            <span class="sub-heading">Our beautiful rooms</span>
        </h5>
        <div class="grid">

            <div class="grid-item featured-rooms">
                <img src="~/assets/images/TweePersoonsKamer1.jpg" alt="" class="rooms-image" />
                <h5 class="rooms-name">De Rode Kamer</h5>
                <span class="rooms-price">From $100/Night</span>
                <div class="rooms-rating">
                    <i class="fas fa-star rating"></i>
                    <i class="fas fa-star rating"></i>
                    <i class="fas fa-star rating"></i>
                    <i class="fas fa-star rating"></i>
                    <i class="fas fa-star-half rating"></i>
                </div>
                <a class="btn btn-dark" asp-area="" asp-controller="MultipleRooms" asp-action="DeRodeKamer">
                    Details@*Misschien btn-gradient krijgen 5:51*@
                    <span class="dots"><i class="fas fa-ellipsis-h"></i></span>
                </a>
            </div>

            <div class="grid-item featured-rooms">
                <img src="~/assets/images/TweePersoonsKamer2.jpg" alt="" class="rooms-image" />
                <h5 class="rooms-name">De Avonden Kamer</h5>
                <span class="rooms-price">From $85/Night</span>
                <div class="rooms-rating">
                    <i class="fas fa-star rating"></i>
                    <i class="fas fa-star rating"></i>
                    <i class="fas fa-star rating"></i>
                    <i class="fas fa-star rating"></i>
                    <i class="fas fa-star-half rating"></i>
                </div>
                <a class="btn btn-dark" asp-area="" asp-controller="MultipleRooms" asp-action="DeAvondenKamer">
                    Details@*Misschien btn-gradient krijgen 5:51*@
                    <span class="dots"><i class="fas fa-ellipsis-h"></i></span>
                </a>
            </div>

            <div class="grid-item featured-rooms">
                <img src="~/assets/images/EenPersoonsKamer1.jpg" alt="" class="rooms-image" />
                <h5 class="rooms-name">De Versierde Kamer</h5>
                <span class="rooms-price">From $90/Night</span>
                <div class="rooms-rating">
                    <i class="fas fa-star rating"></i>
                    <i class="fas fa-star rating"></i>
                    <i class="fas fa-star rating"></i>
                    <i class="fas fa-star rating"></i>
                    <i class="fas fa-star-half rating"></i>
                </div>
                <a class="btn btn-dark" asp-area="" asp-controller="MultipleRooms" asp-action="DeVersierdeKamer">
                    Details@*Misschien btn-gradient krijgen 5:51*@
                    <span class="dots"><i class="fas fa-ellipsis-h"></i></span>
                </a>
            </div>

            <div class="grid-item featured-rooms">
                <img src="~/assets/images/FamilyKamer1.jpg" alt="" class="rooms-image" />
                <h5 class="rooms-name">De Derde Kamer</h5>
                <span class="rooms-price">From $120/Night</span>
                <div class="rooms-rating">
                    <i class="fas fa-star rating"></i>
                    <i class="fas fa-star rating"></i>
                    <i class="fas fa-star rating"></i>
                    <i class="fas fa-star rating"></i>
                    <i class="fas fa-star-half rating"></i>
                </div>
                <a class="btn btn-dark" asp-area="" asp-controller="MultipleRooms" asp-action="DeDerdeKamer">
                    Details@*Misschien btn-gradient krijgen 5:51*@
                    <span class="dots"><i class="fas fa-ellipsis-h"></i></span>
                </a>
            </div>

            <div class="grid-item featured-rooms">
                <img src="~/assets/images/EenPersoonsKamer2.jpg" alt="" class="rooms-image" />
                <h5 class="rooms-name">De Donkere Kamer</h5>
                <span class="rooms-price">From $85/Night</span>
                <div class="rooms-rating">
                    <i class="fas fa-star rating"></i>
                    <i class="fas fa-star rating"></i>
                    <i class="fas fa-star rating"></i>
                    <i class="fas fa-star rating"></i>
                    <i class="fas fa-star-half rating"></i>
                </div>
                <a class="btn btn-dark" asp-area="" asp-controller="MultipleRooms" asp-action="DeDonkereKamer">
                    Details@*Misschien btn-gradient krijgen 5:51*@
                    <span class="dots"><i class="fas fa-ellipsis-h"></i></span>
                </a>
            </div>

            <div class="grid-item featured-rooms">
                <img src="~/assets/images/FamilyKamer2.jpg" alt="" class="rooms-image" />
                <h5 class="rooms-name">De Opperlandse Kamer</h5>
                <span class="rooms-price">From $130/Night</span>
                <div class="rooms-rating">
                    <i class="fas fa-star rating"></i>
                    <i class="fas fa-star rating"></i>
                    <i class="fas fa-star rating"></i>
                    <i class="fas fa-star rating"></i>
                    <i class="fas fa-star-half rating"></i>
                </div>
                <a class="btn btn-dark" asp-area="" asp-controller="MultipleRooms" asp-action="DeOpperlandseKamer">
                    Details@*Misschien btn-gradient krijgen 5:51*@
                    <span class="dots"><i class="fas fa-ellipsis-h"></i></span>
                </a>
            </div>

            <div class="grid-item featured-rooms">
                <img src="~/assets/images/EenPersoonsKamer3.jpg" alt="" class="rooms-image" />
                <h5 class="rooms-name">De Driestuivers Kamer</h5>
                <span class="rooms-price">From $75/Night</span>
                <div class="rooms-rating">
                    <i class="fas fa-star rating"></i>
                    <i class="fas fa-star rating"></i>
                    <i class="fas fa-star rating"></i>
                    <i class="fas fa-star rating"></i>
                    <i class="fas fa-star-half rating"></i>
                </div>
                <a class="btn btn-dark" asp-area="" asp-controller="MultipleRooms" asp-action="DeDriestuiversKamer">
                    Details@*Misschien btn-gradient krijgen 5:51*@
                    <span class="dots"><i class="fas fa-ellipsis-h"></i></span>
                </a>
            </div>

            <div class="grid-item featured-rooms">
                <img src="~/assets/images/TweePersoonsKamer3.jpg" alt="" class="rooms-image" />
                <h5 class="rooms-name">De Geheime Kamer</h5>
                <span class="rooms-price">From $100/Night</span>
                <div class="rooms-rating">
                    <i class="fas fa-star rating"></i>
                    <i class="fas fa-star rating"></i>
                    <i class="fas fa-star rating"></i>
                    <i class="fas fa-star rating"></i>
                    <i class="fas fa-star-half rating"></i>
                </div>
                <a class="btn btn-dark" asp-area="" asp-controller="MultipleRooms" asp-action="DeGeheimeKamer">
                    Details@*Misschien btn-gradient krijgen 5:51*@
                    <span class="dots"><i class="fas fa-ellipsis-h"></i></span>
                </a>
            </div>
        </div>
    </div>
</section>