<!DOCTYPE html>
<html lang="en">
<head>
	<title>Flat Modern Sign In Form Flat Responsive Widget Template :: w3layouts</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Flat Modern Sign In Form template Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login sign up Responsive web template, SmartPhone Compatible web template, free web designs for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- Custom Theme files -->
	<link href="~/Flatmodern/web/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<!-- //Custom Theme files -->
	<!-- font-awesome icons -->
	<link href="~/Flatmodern/web/css/font-awesome.css" rel="stylesheet">
	<!-- //font-awesome icons -->
	<!-- web font -->
	<link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
	<!-- //web font -->
	<!-- jS -->
	<script src="~/Flatmodern/web/js/jquery.min.js"></script>
	<script src="~/Flatmodern/web/js/script.js"></script>
	<!-- //js -->
</head>
<body>
	<!-- main -->
	<div class="main-agile">
		<h1>Flat Modern Sign In Form</h1>
		<div id="w3ls_form" class="signin-form">
			<!-- Sign In Form -->
			<form id="signin" action="#" method="post">
				<div class="ribbon"><a href="#" id="flipToRecover" class="flipLink" title="Click Here to SignUp">Sign Up</a></div>
				<h2>Sign In Form</h2>
				<input type="text" name="User Name" placeholder="User Name" required="" />
				<input type="password" name="Password" placeholder="Password" required="" />
				<input type="checkbox" id="brand" value="">
				<label for="brand"><span></span> Remember me ?</label>
				<input type="submit" value="SIGN IN">
				<div class="signin-agileits-bottom">
					<p><a href="#">Forgot Password ?</a></p>
				</div>
			</form>

			<div class="social-grids">
				<div class="social-text">
					<!--<p>Or Sign in with</p>-->
				</div>
				<div class="social-icons">
					<ul>
						<!--<li><a href="#"><i class="fa fa-facebook"></i></a></li>-->
						<!--<li><a href="#"><i class="fa fa-twitter"></i></a></li>-->
						<!--<li><a href="#"><i class="fa fa-rss"></i></a></li>-->
					</ul>
				</div>
				<div class="clear"> </div>
			</div>

			<!-- //Sign In Form -->
			<!-- Sign up Form-->
			<form id="signup" action="#" method="post">
				<div class="ribbon"><a href="#" id="flipToRecover1" class="flipLink" title="Click Here to signin">Sign In</a></div>
				<h3 id="SignUpMargin">Sign Up Form</h3>
				<input type="text" name="User Name" placeholder="User Name" required="" />
				<input type="text" name="Email" placeholder="Your Email" required="" />
				<input type="text" name="Address" placeholder="Address" required="" />
				<input type="text" name="PhoneNumber" placeholder="Phonenumber" required="" />
				<input type="password" name="Password" placeholder="Password" required="" id="PasswordFlipMargin"/>
				<input type="submit" value="SIGN UP">
			</form>
			<!-- Sign up Form-->
		</div>
		<!-- copyright -->
		<!--<div class="copyright">
		<p> © 2017 Flat Modern Sign In Form . All rights reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a></p>
	</div>-->
		<!-- //copyright -->
	</div>
	<!-- //main -->
</body>
</html>