<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400" rel="stylesheet">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Jemeppe</title>
    <script src="https://kit.fontawesome.com/c2553663f4.js" crossorigin="anonymous"></script>
    <link rel=”stylesheet” href=”~/lib/bootstrap/dist/css/bootstrap.css”>
    <link rel=”stylesheet” href=”~/lib/bootstrap/dist/css/bootstrap-responsive.css”>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/fontawesome-5.15.3/css/fontawesome.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        @*
            NavBar
        *@
        <div class="sizecontainer">
            <nav class="navbar navbar-expand-md navbar-dark sticky-top">
                <div class="container-fluid">
                    <img src="~/assets/images/jemepe_logo_trans.png" class="navbar-brand logo_photo"/>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Rooms">Rooms</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contact">Contacts</a>
                            </li>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                                </li>
                            }
                            @if (User.IsInRole("Admin"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Booking" asp-action="Index">Booking</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*
        Footer
    *@
    <footer>
        <div class="inner_footer">
            <div class="logo_container">
                <img src="~/assets/images/jemepe_logo_trans.png" alt="logo" class="logo_photo"/>
            </div>

            <div class="footer_third">
                <h1>Need help?</h1>
                <a asp-area="" asp-controller="Home" asp-action="Contact">Contacts</a>
                <a href="#">Privacy Policy</a>
            </div>

            <div class="footer_third">
                <h1>More</h1>
                <a asp-area="" asp-controller="Home" asp-action="Rooms">Store</a>
                <a href="#">Appointment</a>
                <a href="#">Contacts</a>
                <a href="#">About Us</a>
            </div>

            <div class="footer_third">
                <h1>Follow us</h1>
                <ol>
                    <li><a href="http://facebook.com/"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="http://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="http://instagram.com/"><i class="fa fa-instagram"></i></a></li>
                </ol>
                <span>
                    &copy; Jemeppe<br>
                    Netherlands<br>
                    Reguliersgracht 95<br>
                    1335 AM Almere
                </span>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
